# Do not remove or rename entries in this file, only add new ones
# See https://github.com/flutter/flutter/issues/128635 for more context.

# This is dynamic in a monorepo
bin/internal/engine.version

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/api_docs.zip
/dev/docs/flutter.docs.zip
/dev/docs/lib/
pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
!.vscode/settings.json

# Monorepo
.cipd
.gclient
.gclient_entries
.python-version
.gclient_previous_custom_vars
.gclient_previous_sync_commits

*.env
google-services.json

# vmidc
avoid_print
prefer_const_constructors
curly_braces_in_flow_control_structures
avoid_single_cascade_in_expression_statements
slash_for_doc_comments

# wavbuf
curly_braces_in_flow_control_structures

# NDK CMake Cache Files
android/app/.cxx/
android/app/configure_fingerprint.bin

# Flutter
pubspec.lock
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.dart_tool/dartpad/web_plugin_registrant.dart

# Android
android/darkmode_android.iml
android/hs_err_pid*.log
android/replay_pid*.log
android/.gradle/file-system.probe
android/.gradle/buildOutputCleanup/*
android/.gradle/vcs-1/gc.properties
android/.idea/.gitignore
android/.idea/*
android/app/src/debug/google-services.json
android/app/src/main/res/*
android/gradle/wrapper/gradle-wrapper.jar
android/app/proguard-rules.pro

# Firebase
firebase/firebase-tools-instant-win.exe

build/last_build_run.json
firebase_options.dart
GoogleService-Info.plist


ios/watchkitapp Watch App/Classes
ios/Runner/Classes/def.h
ios/Runner/Classes/dna.h
ios/Runner/Classes/fft.h
ios/Runner/Classes/mel.h
ios/Runner/Classes/native.cpp
ios/Runner/Classes/native.h
ios/Runner/Classes/table.h
ios/Runner/Classes/util.h
ios/watch_ios Watch App/Classes/native.h
ios/watch_ios Watch App/Classes/native.cpp
ios/watch_ios Watch App/Classes/mel.h
ios/watch_ios Watch App/Classes/fft.h

